body {
    font-family: Arial, sans-serif;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
    background-color: #cdfffd;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.out {
    margin-top: 20px;
    padding: 15px;
    background-color: #141414;
    color: #cedf13;
    border-radius: 10px;
    min-height: 200px;
}

.button {
    background-color: #007b4e;
    color: rgb(246, 246, 246);
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #005631;
}

.element-demo {
    width: 100px;
    height: 100px;
    background-color: #6c757d;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(238, 238, 238);
    border-radius: 15px;
    padding: 30px;
    transition: all 0.9s ease;
}