:root {
  /* Colors */
  --color-gray: #828282;
  --color-light-gray: #f2f2f2;
  --color-beige: #a6806b;
  --color-red: #a61c1c;
  
  /* Typography */
  --font-family: 'Inter', sans-serif;
  --font-size-title: 64px;
  --font-size-description: 18px;
  --font-weight-title: 600;
  --font-weight-description: 300;
  --line-height-main: 1.2;
  --line-height-title: 1.18;
  
  /* Отступы */
  --padding-section: 80px 20px;
  --padding-mobile: 40px 15px;
  --padding-small-mobile: 30px 10px;
  --padding-item: 68px 48px 48px 38px;
  --gap-icons: 24px;
  
  /* Размеры */
  --container-max-width: 1280px;
  --icon-size: 23px;
  --icon-mail-size: 29px;
  --description-max-width: 345px;
  --grid-height: 720px;
  --grid-row-height: 185px;
  
  /* Гриды */
  --grid-col-1: 229px;
  --grid-col-2: 229px;
  --grid-col-3: 199px;
  --grid-col-4: 165px;
  --grid-col-5: 226px;
  --grid-col-6: 232px;
  
  /* Ховеры */
  --transition-hover: 0.3s ease;
}

body {
  font-family: var(--font-family);
}

.company-culture {
  padding: var(--padding-section);
}

.company-culture__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.company-culture__grid {
  display: grid;
  grid-template-columns: var(--grid-col-1) var(--grid-col-2) var(--grid-col-3) var(--grid-col-4) var(--grid-col-5) var(--grid-col-6);
  grid-template-rows: auto var(--grid-row-height) auto;
  height: var(--grid-height);
}

.company-culture__item--main {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.company-culture__item--large {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.company-culture__item--smile {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.company-culture__item--flower {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.company-culture__item--text {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.company-culture__item--coffee {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.company-culture__item--beige {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.company-culture__item--door {
  grid-column: 5 / 6;
  grid-row: 2 / 4;
}

.company-culture__item--red {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

.company-culture__item--silence {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}



.company-culture__title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
  letter-spacing: -0.03em;
  padding-left: 30px;
  text-transform: uppercase;
}

.company-culture__icons {
  display: flex;
  gap: var(--gap-icons);
  margin-top: auto;
}

.company-culture__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: opacity var(--transition-hover);
}

.company-culture__icon--mail{
  width: var(--icon-mail-size);
}

.company-culture__icon:hover {
  opacity: 0.7;
}

.company-culture__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.company-culture__item--text {
  display: flex;
  background-color: var(--color-gray);
  color: var(--color-light-gray);
}

.company-culture__description {
  max-width: var(--description-max-width);
  font-weight: var(--font-weight-description);
  margin: auto;
  font-size: var(--font-size-description);
  line-height: var(--line-height-main);
}

.company-culture__item--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-item);
}

.company-culture__item--beige {
  background-color: var(--color-beige);
}

.company-culture__item--red {
  background-color: var(--color-red);
}


@media (max-width: 1350px) {
  .company-culture {
    padding: 50px;
  }
  .company-culture__grid {
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
  }
  
  .company-culture__title {
    font-size: 56px;
  }
  
  .company-culture__item--main {
    padding: 60px 40px 40px 30px;
  }
}


@media (max-width: 1200px) {
  .company-culture__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 420px 320px 320px ;
    height: auto;
  }
  
  .company-culture__item--main{ 
    grid-column: 1 / 3; 
    grid-row: 1 / 2; 
  }
  .company-culture__item--large { 
    grid-column: 3 / 4; 
    grid-row: 1 / 2; 
  }
  .company-culture__item--smile { 
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
  }
  .company-culture__item--flower { 
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
  }
  .company-culture__item--text { 
    grid-column: 3 / 4; 
    grid-row: 2 / 3; 
  }
  .company-culture__item--coffee { 
    grid-column: 1 / 2; 
    grid-row: 3 / 4; 
  }
  .company-culture__item--door { 
    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
  }

  .company-culture__item--silence { 
    grid-column: 3 / 4; 
    grid-row: 3 / 4; 
  }

  .company-culture__item--beige, .company-culture__item--red{
    display: none;
  }
  
  .company-culture__title {
    font-size: 48px;
    text-align: center;
  }
  
  .company-culture__item--main {
    padding: 50px 30px;
  }
  
  .company-culture__description {
    max-width: 100%;
    padding: 0 20px;
    font-size: 16px;
  }
}


@media (max-width: 992px) {
  .company-culture {
    padding: 30px;
  }
  
  .company-culture__title {
    font-size: 40px;
    padding-left: 15px;
  }
  
  .company-culture__item--main {
    padding: 40px 25px 25px 20px;
  }
  
  .company-culture__icons {
    gap: 20px;
  }
}


@media (max-width: 768px) {
  .company-culture__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 380px 380px 380px 380px;
  }

  .company-culture__item--main { 
    grid-column: 1 / 3; 
    grid-row: 1 / 2; 
  }
  .company-culture__item--large { 
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
  }
  .company-culture__item--smile { 
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
  }
  .company-culture__item--flower { 
    grid-column: 1 / 2; 
    grid-row: 3 / 4; 
  }
  .company-culture__item--text { 
    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
  }
  .company-culture__item--coffee { 
    grid-column: 1 / 2; 
    grid-row: 4 / 5; 
  }

  .company-culture__item--door { 
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .company-culture__item--silence { 
    grid-column: 1 / 3; 
    grid-row: 5 / 6; 
  }

  
  .company-culture__title {
    font-size: 32px;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
  }
  
  .company-culture__item--main {
    padding: 30px 20px;
  }
  
  .company-culture__description {
    padding: 0 15px;
  }
  
  .company-culture__icons {
    gap: 15px;
  }

  .company-culture__icon {
    width: 20px;
    height: 20px;
  }
  .company-culture__icon--mail{
    width: 22px;
  }
}


@media (max-width: 540px) {
  .company-culture {
    padding: 20px;
  }
  .company-culture__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
  }
  
  .company-culture__item {
    grid-column: 1 / 2 !important;
    min-height: 100px;
    max-height: 420px;
  }
  
  .company-culture__item--main { grid-row: 1 / 2; }
  .company-culture__item--large { grid-row: 2 / 3; }
  .company-culture__item--smile { grid-row: 3 / 4; }
  .company-culture__item--flower { grid-row: 4 / 5; }
  .company-culture__item--text { grid-row: 5 / 6; }
  .company-culture__item--coffee { grid-row: 6 / 7; }
  .company-culture__item--beige { grid-row: 7 / 8; }
  .company-culture__item--door { grid-row: 8 / 9; }
  .company-culture__item--red { grid-row: 9 / 10; }
  .company-culture__item--silence { grid-row: 10 / 11; }
  
  .company-culture__title {
    font-size: 24px;
    margin: 0;
  }
  
  .company-culture__item--main {
    padding: 40px 20px;
  }
  
  .company-culture__description {
    font-size: 14px;
    padding: 0 20px;
  }
}